
<div class="panel panel-default">
  <div class="panel-body">

  	<TABLE>
   <TR>
      <TH COLSPAN="2"><BR><H3>Table for Snickers</H3>
      </TH>
   </TR>
   <TR>
      <TH>Email Title</TH>
      <TH>Send Days</TH>
       <TH>..</TH>
      <TH>.</TH>

   </TR>
   <TR ALIGN="CENTER">
      <TD width="180">Free Starter</TD>
      <TD>0 Days</TD>
   </TR>
    <TR ALIGN="CENTER">
      <TD>Reminder</TD>
      <TD>3 Days</TD>
   </TR>
     <TR ALIGN="CENTER">
      <TD>Free Bottle of Wine</TD>
      <TD>10 Days</TD>
   </TR>
    <TR ALIGN="CENTER">
      <TD>50% Discount</TD>
      <TD>30 Days</TD>
   </TR>
</TABLE>

<%#
Local variables:
* grid - instance of Datagrid
* assets - Array of database Entities
* options - passed options Hash
%>

  </div>
  <div class="panel-footer"></div>
</div>