<h1 class="text-center">Brunch</h1>
<div class="panel panel-default">
  <div class="panel-body">

    Panel content
  </div>
  <div class="panel-footer">Panel footer</div>
</div>

  <TABLE>
   <TR>
      <TD>Data 1</TD>
      <TD>Data 2</TD>
   </TR>
   <TR>
      <TD>Data 3</TD>
      <TD>Data 4</TD>
   </TR>
   <TR>
      <TD>Data 5</TD>
      <TD>Data 6</TD>
   </TR>
</TABLE>