<body>
  <div>
    <div class="w-container">
      <div class="chellenge-heafing">Restaurant Boomerang &nbsp;Chef Challenge</div>
    </div>
  </div>
  <div class="challenge-vide-section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <div class="stephen-header">Stephen McArdle of The Arch Bistro</div>
          <div class="stephen-text">
            <br>We challenge top chefs to cook us one of their dishes in one take.&nbsp;&nbsp;No Practice runs, no reshoots, a single camera and one take.&nbsp;&nbsp;Real cooking, by Real chefs in Real restaurants.
            <br>
            <br> In this Video Stephen McArdle of the Arch Bistro, Ranked by Trip advisor in the Top 5&nbsp;Dublin restaurants, cooks two types of Steak,&nbsp;&nbsp;a Rib Eye and a Fillet</div>
        </div>
        <div class="w-col w-col-6">
          <div class="w-embed w-video" style="padding-top: 56.9620253164557%;">
            <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F106936882&amp;src_secure=1&amp;url=http%3A%2F%2Fvimeo.com%2F106936882&amp;image=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F490195666_295x166.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=vimeo" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="freecokatil-section">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-6">
            <div class="w-form">
              <form id="wf-form-Arch-challenge-cocktails" name="wf-form-Arch-challenge-cocktails" data-name="Arch-challenge-cocktails">
                <div class="stephen-header cocktails">Get a Free Round of Cocktails When you
                  <br>Visit the Arch Bistro for Dinner
                  <br>
                  <br>Only 10 Available</div>
                <div class="stephen-text">Simply enter you email&nbsp;&nbsp;below and we will send you a Voucher to enjoy a free round of cocktails at the Arch Bistro when you go for Dinner</div>
                <input class="w-input" id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required">
                <input class="w-button" type="submit" value="Submit" data-wait="Please wait...">
              </form>
              <div class="w-form-done">
                <p>Thank you! Your submission has been received!</p>
              </div>
              <div class="w-form-fail">
                <p>Oops! Something went wrong while submitting the form :(</p>
              </div>
            </div>
          </div>
          <div class="item"><img data-src=  <%= image_tag("cocktails.jpeg", :alt => "rss feed") %>
          </div>
        </div>
      </div>
      <div class="w-container">
        <div class="stephen-header videos">Meet Stephen McArdle Chef &nbsp;Proprietor of the Arch Bistro</div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-4">
            <div class="w-embed w-video" style="padding-top: 56.25%;">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F105912310&amp;src_secure=1&amp;url=http%3A%2F%2Fvimeo.com%2F105912310&amp;image=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F488841736_640.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=vimeo" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="vide-subtitle">Getting Started</div>
          </div>
          <div class="w-col w-col-4">
            <div class="w-embed w-video" style="padding-top: 56.25%;">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F106527847&amp;src_secure=1&amp;url=http%3A%2F%2Fvimeo.com%2F106527847&amp;image=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F489676384_640.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=vimeo" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="vide-subtitle">The Food</div>
          </div>
          <div class="w-col w-col-4">
            <div class="w-embed w-video" style="padding-top: 56.25%;">
              <iframe class="embedly-embed" src="https://cdn.embedly.com/widgets/media.html?src=http%3A%2F%2Fplayer.vimeo.com%2Fvideo%2F106527848&amp;src_secure=1&amp;url=http%3A%2F%2Fvimeo.com%2F106527848&amp;image=http%3A%2F%2Fi.vimeocdn.com%2Fvideo%2F489676337_640.jpg&amp;key=c4e54deccf4d4ec997a64902e9a30300&amp;type=text%2Fhtml&amp;schema=vimeo" scrolling="no" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="vide-subtitle">Inspiration</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-container"></div>
</body>