<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<div style="width:50%;" align="center">
  
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="center" valign="top" bgcolor="#98846c" style="background-color:#98846c;"><br>
    <br>
    <table width="600" border="0" align="center" cellpadding="0" cellspacing="10" bgcolor="#5c1707" style="background-color:#5c1707;">
      <tr>
        <td align="center" valign="middle" bgcolor="#ffffff" style="background-color:#ffffff;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>


            <td align="left" valign="top"><%= image_tag("top_B.jpg", width: '580', height: '180')%></td>
          </tr>
          <tr>
            <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000;"><table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td width="170" align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="7" style="margin-bottom:10px;">
                  <tr>
                    <td width="100%" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#4b3c3c; font-size:13px;"><div style="font-size:16px; color:#e85817;"><b>In This Issue</b></div>
                      <div><a href="#" style="color:#4b3c3c;">Article Headline 1</a><br>
                        <a href="#" style="color:#4b3c3c;">Article Headline 2</a><br>
                        <a href="#" style="color:#4b3c3c;">Article Headline 3</a> <br>
                      </div></td>
                  </tr>
                </table>
                  <table width="100%" border="0" cellpadding="0" cellspacing="7" style="margin-bottom:10px;">
                    <tr>
                      <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#4b3c3c; font-size:13px;"><div style="font-size:16px; color:#e85817;"><b>Quick Links</b></div>
                        <div><a href="#" style="color:#4b3c3c;">About Our Company</a><br>
                          <a href="#" style="color:#4b3c3c;">Join Our mailing list</a><br>
                          <a href="#" style="color:#4b3c3c;">News Archive</a><br>
                          <a href="#" style="color:#4b3c3c;">Our Services</a><br>
                        </div></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" cellpadding="0" cellspacing="7" style="margin-bottom:10px;">
                    <tr>
                      <td width="100%" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#4b3c3c; font-size:13px;"><div style="font-size:16px; color:#e85817;"><b>Featured Article </b></div>




                        <div><%= image_tag("pic002_B.jpg", width: '149', height: '96')%><br>
                          Lorem tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim. Morbi eleifend feugiat turpis non placerat. Etiam sed tellus ac lectus lacinia molestie nec eu nisl. Pellentesque mattis luctus ultrices.</div></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" cellpadding="0" cellspacing="7" style="margin-bottom:10px;">
                    <tr>
                      <td width="100%" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#4b3c3c; font-size:11px;"><b>Hours:</b> Mon-Fri 9:30-5:30, Sat. 9:30-3:00, Sun. Closed<br>
                        <br>
                        <b>Customer Support: </b><a href="mailto:name@yourcompanyname.com" style="color:#4b3c3c; text-decoration:none;">name@yourcompanyname.com</a></td>
                    </tr>
                  </table></td>



                <td width="21" align="left" valign="top"> <%= image_tag("divider_B.png", width: '21', height: '750')%></td>
                <td align="left" valign="top" style="padding-right:10px;"><table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
                  <tr>
                    <td align="left" valign="top" style="color:#e85817; font-family:Arial, Helvetica, sans-serif; font-size:48px;">Newsletter Title</td>
                  </tr>
                </table>
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:10px;">
                  <tr>
                    <td width="100%" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#525252; font-size:13px;"><div style="font-size:22px;">Lorem ipsum adipiscing elit. Vestibulum magna enim</div>
                      <div><br>
                        Tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim. Morbi eleifend feugiat turpis non placerat. Etiam sed tellus ac lectus lacinia molestie nec eu nisl. Pellentesque mattis luctus ultrices. Suspendisse pretium feugiat ipsum nec dapibus. Aenean bibendum vestibulum scelerisque.<br>
                        <br>
                      </div></td>
                  </tr>
                </table>
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:10px;">
                  <tr>
                    <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#525252; font-size:13px;"><div style="font-size:16px; color:#e85817;"><b>Article Headline</b></div>


<div class="span22">
     <h6 class=><b>Dear {name}</b>,</h6>
        </p>
        <textarea class="field span22" id="textarea" cols="55" rows="10" placeholder="Create message"></textarea>
        <button class="btn">Upload</button>
    </div>


<!--

<%= image_tag("pic002_B.jpg", width: '147', height: '107')%>
                      Lorem tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor. <br>
                        <a href="#" style="color:#e85817;">read more</a><br>
                        <br>
                      -->
                      </div></td>
                  </tr>
                </table>
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:10px;">
                    <tr>
                      <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#525252; font-size:13px;"><div style="font-size:16px; color:#e85817;"><b>Article Headline</b></div>
                        <div>                          Lorem tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim. Morbi eleifend feugiat turpis non placerat. <br>
                          <a href="#" style="color:#e85817;">read more</a><br>
                          <br>
                        </div></td>
                    </tr>
                  </table>
                  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:10px;">
                    <tr>
                      <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; color:#525252; font-size:13px;"><div style="font-size:16px; color:#e85817;"><b>Article Headline</b></div>
                        <div>                          Lorem tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim. Morbi eleifend feugiat turpis non placerat. <br>
                          <a href="#" style="color:#e85817;">read more</a><br>
                          <br>
                        </div></td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
          </tr>
          </table></td>
      </tr>
    </table>
    <br>
    <br></td>
  </tr>
</table>
</body>
</html>
